body {
  background: gray;
    background-image: url("pauline-heidmets-GTL39WM6QqA-unsplash.png");
    background-color: #ffffff;
    background-size: 100% 220%;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 320px 
  }
  
  #title {

    color: black;
    width: 180px;
    flex-wrap: wrap;



  }
  .grid {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  .grid div {
    width: 20px;
    height: 20px;
    /*border:1px black solid;
  box-sizing:border-box*/
  }
  
  .snake {
    background: green;
  }
  
  .apple {
    background: red;
    border-radius: 20px;
  }
  
  .popup {
    background: black;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 100px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    opacity: .8;
    line-height: 0%;
    padding: 30px;
  
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0px solid rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-size: 40px;
    text-align: center;
    opacity: 2;
  }
  .button {

    display: flex;
    justify-content: center;
    align-items: center;

  }

  .td {
    
      height: 50px;
      vertical-align: middle;
      text-align: center;

    }
  

/* Media query for larger screens */
@media screen and (min-width: 768px) {
    .player {
        flex-direction: column; /* Align items in a row for larger screens */
    }
}