
body {
  background-color: black;
  background-image: url("dark background.png");
  background-size: 768px 768px;
  min-width: 320px 
  font-family: tahoma;
}

hr {
background-color: none;
border-style: none;
border-top: dotted 6px whitesmoke;
height: 2px;
width: 30px;
}

p {
  color: whitesmoke;
}
h1 {
  color: whitesmoke;
}

h3 {
color: whitesmoke;

}

a {
  color:  whitesmoke;
}

table {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;


}

th {
  color: whitesmoke;
}
td {
  color: whitesmoke;

}

label {
  color: whitesmoke;
}
/* Media query for larger screens (e.g., tablets and desktops) */
@media (min-width: 768px) {
  /* Add styles for larger screens here */
}