
body {
  background-color: #F7F6DC;
  font-family:tahoma;
}

hr {
background-color: ##F7F6DC;
border-style: none;
border-top: dotted 6px #562B08;
height: 2px;
width: 30px;
}

p {
  color: black;
}
h1 {
  color: black;
}

h3 {
color: black;

}

a {
  color:  black;
}
